#King {margin:0 auto;width:100%;height:100%;border:1px dashed white;padding:0 0 15px 0}

.Menu {margin:0 auto;width:99%;border:1px dashed blue;padding:15px 0}

.menuMod1 {margin:0 auto;width:99%;height:50px;border:1px dashed grey;}

.menuMod2 {margin:0 auto;width:99%;height:50px;border:1px dashed white}

.menuMod3 {margin:0 auto;width:99%;height:50px;border:1px dashed grey}

.menuMod4 {margin:0 auto;width:99%;height:50px;border:1px dashed white}

.menuMod5 {margin:0 auto;width:99%;height:50px;border:1px dashed grey}

.menuMod6 {margin:0 auto;width:99%;height:50px;border:1px dashed white}

.corpo {margin:0 auto;width:99%;border:1px dashed yellow;padding:15px 0}

.conteudoM1 {margin:0 auto;width:99%;height:500px;border:1px dashed green;}

.conteudoM2 {margin:0 auto;width:99%;height:500px;border:1px dashed yellowgreen;}

.conteudoM3 {margin:0 auto;width:99%;height:500px;border:1px dashed green;}

.rdp {margin:0 auto;width:99%;border:1px dashed orange;padding:15px 0}

.rdpM1 {margin:0 auto;width:99%;height:300px;border:1px dashed red}

.rdpM2 {margin:0 auto;width:99%;height:300px;border:1px dashed purple}

.rdpM3 {margin:0 auto;width:99%;height:300px;border:1px dashed green}

.esp {width:100%;height:20px;}